.navbar {
  background-color: #fff;
  padding: 1rem 2 rem;
  border-bottom: 1px solid #E2E8F0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: 40px;
}

.active {
  color: #3b5ac2
}

.nav-link.active {
  color: #3b5ac2
}
